/* CSS DOCUMENT */
@charset "utf-8";


* {
    font-family: 'Bricolage Grotesque', sans-serif;
    font-style: normal;
    font-variation-settings: "wdth" 500;
    font-size: 1.3rem;
    line-height: normal;
    color: #9A7FA2;
    text-decoration: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

a {
    color: #FF840A;
    text-align: center;
    font-family: "Bricolage Grotesque";
    font-size: 1rem;
    font-weight: 700;
    line-height: normal;
    border: 3px solid #FF840A;
    border-radius: 20px;
    padding: 10px;
}

a:hover {
    color: #FFF;
    background-color: #FF840A;
    border-radius: 20px;
    padding: 10px;
}

header {
    display: flex;
    justify-content: center;
    border-top: 28px solid #FF840A;

    nav {
        display: flex;
        gap: 30px;
        padding: 10px;
    }

    a {
        color: #FF840A;
        text-align: center;
        font-family: "Bricolage Grotesque";
        font-size: 1rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        border: none
    }

    a:hover {
        color: #9A7FA2;
        background-color: #fff;
    }
}

.ceja {
    color: #FFF;
    font-family: "Bricolage Grotesque";
    font-weight: 700;
    background-color: #FF840A;
    padding-left: 5px;
    width: 330px;
}

.principal {
    font-family: "Bricolage Grotesque";
    font-size: 7rem;
    font-style: normal;
    font-weight: 700;
    line-height: 7rem;
    color: #9A7FA2;
    text-align: right;
}

.secundario {
    font-family: "Caveat", cursive;
    font-size: 7rem;
    font-style: normal;
    font-weight: 400;
    color: #FF840A;
    line-height: 0rem;
    text-align: center;
}

h1,
h3 {
    display: flex;
    flex-direction: column;
}

h2 {
    font-family: "Bricolage Grotesque";
    font-size: 5.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 4.3rem;
    color: #FF840A;
    text-align: right;
}

h4 {
    color: #FFF;
    text-align: center;
    font-family: "Bricolage Grotesque";
    font-weight: 700;
    background-color: #FF840A;
}

aside {
    background-color: #9A7FA2;
    opacity: 50%;
    top: 50px;
    right: 0px;
    position: fixed;
    padding: 10px;
    width: 80px;
    height: 150px;
    align-items: flex-end;
    border-radius: 25px 0px 0px 25px;

    a,
    a:hover {
        all: unset;
    }
}

#hero {
    margin-top: 60px;
    padding: 50px;
    height: 600px;
    background-image: url(img/lala-fondo.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: flex;
    justify-content: center;

    .ceja {
        font-size: 3rem;
        line-height: 3rem;
        max-width: 160px;
    }

    .principal {
        font-size: 15rem;
        line-height: 13rem;
    }

    .secundario {
        font-size: 15rem;
        line-height: 2rem;
        text-align: center;
    }
}

#hola,
#mini {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-top: 20vh;
    padding: 50px;

    article {
        max-width: 530px;
        height: 535px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    h2 {
        max-width: 380px;
    }
}

#proyectos_carrusel,
#yo_tit,
#cv_tit,
#contacto_tit, #proy_tit {
    margin: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carrusel {
    overflow-x: hidden;
    margin-top: 10vh;
    margin-bottom: 3vh;
    width: 100%;

}

.grupo {
    display: flex;
    gap: 30px;
    animation: spin 20s infinite linear;
    width: max-content;

    img {
        flex: 0 0 2rem;
        object-fit: cover;
        flex-shrink: 0;
        display: block;
    }
}

@keyframes spin {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%)
    }
}

#contactame {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    align-items: center;
    justify-content: center;
    padding-bottom: 10vh;

    h2 {
        max-width: 650px;
    }

    article {
        max-width: 330px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 75px;
    }
}

footer {
    background-color: #9A7FA2;
    height: 120px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 70px;

    h4 {
        background: none;
        text-align: left;
        font-size: 1rem;
    }

    p {
        color: #FFF;
        font-size: 0.6rem;
        line-height: 1rem;
    }

    a {
        color: #fff;
        font-size: 0.8rem;
        font-weight: 400;
        border: none
    }

    a:hover {
        font-weight: 700;
        border: none;
        background: none;
    }

    .legal {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        align-items: center;
    }
}

/** pag CONTACTO **/

#contacto_tit {
    .ceja {
        max-width: 180px;
    }
}

#contacto-bloque {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 120px;
    margin: 15vh;
}

#Info_contacto {
    width: 400px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;

    .redes {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}

form {
    width: 925px;
    display: flex;
    flex-direction: row;
    gap: 30px;
    flex-wrap: wrap;

    p {
        color: #FF840A;
        text-align: center;
        font-family: "Bricolage Grotesque";
        font-weight: 700;
        font-size: 0.8rem;
    }
}

form article {
    display: flex;
    flex-direction: row;
    gap: 40px;
}
form div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

input {
    border: 3px solid #FF840A;
    padding: 8px;
    width: 440px;
    font-size: 1rem;
}

textarea {
    width: 920px;
    height: 170px;
    border: 3px solid #FF840A;
    padding: 8px;
    font-size: 1rem;
}

.botones {
    display: flex;
    flex-direction: row;
    gap: 40vh;

    input {
        font-size: 0.7rem;
        padding: 5px;
    }

    #Enviar {
        color: #FFF;
        text-align: center;
        font-family: "Bricolage Grotesque";
        font-weight: 700;
        background-color: #FF840A;
        width: 116px;
        font-size: 1rem;
        line-height: 0.8rem;
        height: 38px;
    }
}

label {
    color: #FF840A;
    text-align: center;
    font-family: "Bricolage Grotesque";
    font-weight: 700;
    font-size: 1rem;
}

/** pag SOBRE MI **/

#gal-fancybox {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;

    a,
    a:hover {
        all: unset;
    }
}

#yo_tit {
    .ceja {
        max-width: 125px;
    }
}

#mini {
    align-items: flex-start;

    h2 {
        width: 343px;
    }

    article {
        height: unset;
        gap: 30px;
    }
}

#hobbies {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5vh;

    article {
        display: flex;
        gap: 44px;
        margin-top: 20px;
        margin-bottom: 10vh;
        flex-direction: row;
        justify-content: center;
        width: 100%;
    }

    div {
        border: 3px solid #FF840A;
        padding: 5px;
        width: 305px;
        display: flex;
        flex-direction: column;
        align-items: center;

        p {
            font-weight: 700;
            font-size: 1.1rem;
            color: #FF840A;
            line-height: 2rem;
        }

        figcaption {
            font-weight: 200;
            color: #FF840A;
        }
    }

    .musica {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
}

#hobbies,
#galeria {
    h4 {
        height: 50px;
        display: flex;
        align-items: center;
        width: 1345px;
        justify-content: center;
    }
}

#galeria {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#gal-fancybox {
    display: flex;
    margin: 30px;
    align-items: center;
    gap: 0px;

    div {
        display: flex;
        gap: 8px;
    }
}

#cv_tit {
    .ceja {
        width: 172px;
    }
}

#cv {
    display: flex;
    flex-direction: row;
    margin: 20vh 10vh;
    gap: 50px;
    justify-content: center;

    #izquierda {
        padding-right: 40px;
        border-right: 3px solid #FF840A;
        gap: 30px;
        display: flex;
        flex-direction: column;

        h2 {
            font-size: 3rem;
        }

        p,
        li,
        h5 {
            font-size: 1rem;
        }

        #contenedor {
            display: flex;
            justify-content: flex-end;
            gap: 25px;

            div {
                width: 350px;
            }
        }
    }

    #derecha {
        width: 530px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        div {
            gap: 30px;
            display: flex;
            flex-direction: column;

            .herramientas {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
            }
        }
    }
}

/** pag PROYECTOS **/

#proy_tit {
    margin-bottom: 25vh;
    .ceja {
        max-width: 215px;
    }
}

ul {
    list-style-position: inside;
}
article {
    display: flex;
    flex-direction: column;
    width: 610px;
    gap: 20px;
}

.foto-izq, .foto-der {
    display: flex;
    flex-direction: row;
    gap: 60px;
    margin: 8vh;
    justify-content: center;

    img {
    border: 1px solid #FF840A;
    }
}

/**
@media screen and (max-width:500px) {
    header {
        padding: 30px;
        flex-direction: column;

        nav {
            display: flex;
            gap: 30px;
            flex-direction: column;
            align-items: flex-start;
        
            a {
                font-size: 1rem;
            }
        }
    }

    aside {
        width: 18%;
        height: 22%;

        img {
            width: 85%;
        }
    }
    #hero {
        height: 300px;
        margin-top: 5vh;
        .ceja {
            font-size: 1.5rem;
            line-height: 2rem;
            max-width: 90px;
        }

        .principal {
            font-size: 6rem;
            line-height: 6rem;
        }

        .secundario {
            font-size: 6rem;
            line-height: 0rem;
        }
    }

    #hola {
        margin-top: 5vh;
        padding: 30px;
        gap: 15px;

        article {
            height: 400px;
            gap: 20px;
        }
        img {
            width: 44%;
            height: auto;
        }
    }

    h2 {
        width: 125px;
        font-size: 2rem;
        line-height: 1.8rem;
    }

    a {
        font-size: 0.8rem;
    }
    p {
        font-size: 1rem;
    }

    h3 {
        .ceja {
            font-size: 0.8rem;
            line-height: normal;
            max-width: 210px;
        }

        .principal {
            font-size: 2.5rem;
            line-height: 3rem;
        }
        .secundario {
            font-size: 2.5rem;
            line-height: 0rem;
        }
    }

    #proyectos_carrusel {
        margin: 10vh 0vh;
    }

    #contactame {
        gap: 25px;
        justify-content: flex-start;
        padding: 30px;

        article {
            gap: 20px;
        }

        h2 {
            width: 250px;
            text-align: left;
        }
    }

    footer {
        display: flex;
        flex-direction: column-reverse;
        align-content: center;
        padding: 15px;
        gap: 25px;
        flex-wrap: wrap;
        height: 133px;

        .legal {
            display: flex;
            gap: 20px;
            align-items: center;
            flex-direction: row;
            flex-wrap: nowrap;
        }
        h4, p {
            font-size: 0.5rem;
            line-height: 0.5rem;
        }
    }

    #contacto_tit {
        .ceja {
            max-width: 117px;
        }
    }
    #contacto-bloque {
        margin-top: 10vh;
        padding: 30px;
        gap: 50px;
        flex-wrap: wrap;

        article, div, input, textarea {
            width: 100%;
            height: auto;
        }
        textarea {
            height: 50vh;
        }
        form {
            width: 100%;
            display: flex;
            gap: 30px;
            flex-direction: column;

            label, p {
                font-size: 0.8rem;
            }

            .botones {
                display: flex;
                gap: 5vh;
                flex-wrap: wrap;
            }
        }
    }
}