/* CSS DOCUMENT */
@charset "utf-8";

@font-face {
    font-family: "Bricolage Grotesque", sans serif;
    src: url();
}

* {
    font-family: 'Bricolage Grotesque', sans-serif;
    font-style: normal;
    font-variation-settings: "wdth" 500;
    font-size: 1.3rem;
    line-height: normal;
    color: #9A7FA2;
    text-decoration: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body { overflow-x: hidden;}

a {
    color: #FF840A;
    text-align: center;
    font-family: "Bricolage Grotesque";
    font-size: 1rem;
    font-weight: 700;
    line-height: normal;
    border: 3px solid #FF840A;
    border-radius: 20px;
    padding: 10px;
}

a:hover {
    color: #FFF;
    background-color: #FF840A;
    border-radius: 20px;
    padding: 10px;
}

header {
    display: flex;
    justify-content: center;
    border-top: 28px solid #FF840A;

    nav {
        display: flex;
        gap: 30px;
        padding: 10px;
    
    }

    a {
        color: #FF840A;
        text-align: center;
        font-family: "Bricolage Grotesque";
        font-size: 1rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        border: none
    }

    a:hover {
        color: #9A7FA2;
        background-color: #fff;
    }
}

h1 {
    font-family: "Bricolage Grotesque";
    font-size: 7rem;
    font-style: normal;
    font-weight: 700;
    line-height: 7rem;
    color: #9A7FA2;
    text-align: right;
}

h2 {
    font-family: "Bricolage Grotesque";
    font-size: 5.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 4.3rem;
    color: #FF840A;
    text-align: right;
}

h3 {
    font-family: "Caveat", cursive;
    font-size: 7rem;
    font-style: normal;
    font-weight: 400;
    color: #FF840A;
    line-height: 0rem;
    text-align: center;
}

h4 {
    color: #FFF;
    text-align: center;
    font-family: "Bricolage Grotesque";
    font-weight: 700;
    background-color: #FF840A;
}

#hero {
    margin-top: 60px;
    padding: 50px;
    height: 600px;
    background-image: url(img/lala-fondo.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;


    h4 {
        font-size: 3rem;
        line-height: 3rem;
        max-width: 160px;
    }

    h1 {
        font-size: 15rem;
        line-height: 13rem;
    }

    h3 {
        font-size: 15rem;
        line-height: 2rem;
        text-align: center;
    }
}

.titulo {
    display: flex;
    justify-content: center;
    align-items: center;
} 

#hola {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-top: 20vh;
    padding: 50px;

        article {
            max-width: 530px;
            height: 535px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        h2 {
            max-width: 380px;
        }
}

#proyectos_carrusel, #contactame_tit {
    margin: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    h4{
        max-width: 330px;
    }
}

.carrusel {
    overflow-x: hidden;
    margin-top: 10vh;
    margin-bottom: 3vh;
    width: 100%;

}
.grupo {
    display: flex;
    gap: 30px;
    animation: spin 20s infinite linear;
    width: max-content;

    img {
        flex: 0 0 2rem;
        object-fit: cover;
        flex-shrink: 0;
        display: block;
    }
}

@keyframes spin {
    from {transform: translateX(0);}
    to {transform: translateX(-50%)}
    }

#contactame {
    display: flex;
    gap: 60px;
    align-items: center;
    justify-content: center;
    padding-top: 10vh;

    h2 {
        max-width: 650px;
    }
    
    article {
        max-width: 330px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 75px;
    }
}

footer {
    background-color: #9A7FA2;
    height: 165px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 70px;

    h4 {
        background: none;
        text-align: left;
    }
    p{
        color: #FFF;
        font-size: 0.8rem;
        line-height: 1rem;
    }
    a, a:hover {
    all: unset;
    }

    article {
        display: flex;
        gap: 20px;
        align-items: center;
    }
}

/** pag CONTACTO **/

#contacto_tit {
    h4 {
        max-width: 185px;
    }
}

#contacto-bloque {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 120px;
}

#Info_contacto {
    width: 400px;
    height: 600px;
    margin-top: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    .redes {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}

form {
    width: 925px;
    display: flex;
    flex-direction: row;
    gap: 50px;
    flex-wrap: wrap;

    p {
        color: #FF840A;
        text-align: center;
        font-family: "Bricolage Grotesque";
        font-weight: 700;
        font-size: 1rem;
    }
}
form div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

input{
    border: 3px solid #FF840A;
    padding: 8px;
}

#Mensaje {
    width: 925px;
}
#Enviar {
        color: #FFF;
        text-align: center;
        font-family: "Bricolage Grotesque";
        font-weight: 700;
        background-color: #FF840A;
    }

label {
    color: #FF840A;
    text-align: center;
    font-family: "Bricolage Grotesque";
    font-weight: 700;
    line-height: 2rem;
}